.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.btn {
    background-color: aqua;
    border-radius: 50%;
    padding: 25px;
    border: 1px solid black;

}
.sub-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;

}
.fix-num1, .fix-num2, .fix-num3, .fix-num4, .fix-num5, .fix-num6 {
    background-color: yellow;
    border: 1px solid black;
    border-radius: 50%;
    padding: 25px;
}
.main-container {
    margin-top: 100px;
}

.play {
    display: block;

    margin: 50px auto;
}