.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.btn {
    /* background-color: aqua; */
    border-radius: 50%;
    padding: 25px;
    border: 1px solid black;

}
.sub-container {
    display: flex;
    justify-content: center;
    margin: 100px auto;
   

}
.fix-num1, .fix-num2, .fix-num3, .fix-num4, .fix-num5, .fix-num6 {
    background-color: yellow;
    border: 1px solid black;
    border-radius: 50%;
    padding: 25px;
}
.main-container {
    flex-direction: column;
    margin: 0 auto;
    max-width: 600px;
    margin-top: 100px;
}

.play {
    display: block;

    margin: 50px auto;
}
.result {
    margin: 0 auto;
    text-align: center;
}

.main-numbers {
    
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
}
.numbers {
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
}